{{#if nombreUsuario}}
  <ul>
		{{!-- <li><a href="http://localhost:3456/api/productos">Productos</a></li>
		<li><a href="http://localhost:3456/api/carrito">Carrito</a></li> --}}
		<li><a href="#contact">Cerrar Session</a></li>
</ul>
{{/if}}
